﻿@model BookmarkerDataModel.Favorite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Favorite</legend>

    <div class="display-label">CreatedOn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedOn)
    </div>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Notes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>

    <div class="display-label">Bookmark</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bookmark.Title)
    </div>

    <div class="display-label">User</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.Name)
    </div>

    <div class="display-label">IsPinned</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsPinned)
    </div>

    <div class="display-label">Cluster</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cluster.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
