﻿@model BookmarkerDataModel.Favorite
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/blueprint/screen.css")" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/blueprint/print.css")" type="text/css" media="print" /> 
	<!--[if lt IE 8]>
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/blueprint/ie.css")" type="text/css" media="screen, projection">
	<![endif]-->		
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/blueprint/plugins/fancy-type/screen.css")" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/blueprint/plugins/link-icons/screen.css")" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/blueprint/plugins/buttons/screen.css")" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/bookmarker.css")" type="text/css" media="screen, projection" />    
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="container">
        <div id="content" style="margin: 10px; padding: 10px;">
            <h2 id="pagename">Add</h2>	
		    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

            @using (Html.BeginForm("CreateEnd", "Favorite", FormMethod.Get) ) {
                @Html.ValidationSummary(true)
                <fieldset>
                    <legend>New Bookmark</legend>

                    @Html.HiddenFor(model => model.BookmarkId)                    

                    <div class="display-label">
                        @Html.LabelFor(model=>model.Bookmark.Url)<br />
                        <a href="@Html.DisplayFor(model=>model.Bookmark.Url)">@ViewBag.BookmarkUrl</a>        
                    </div>

                    <div class="display-label">
                        @Html.LabelFor(model => model.Name)<br />
                        @Html.TextBoxFor(model => model.Name, new { style = "width: 300px;", value = Model.Name })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>

                    <div class="display-label">
                        @Html.LabelFor(model => model.Notes)<br />
                        @Html.TextAreaFor(model => model.Notes, new { style = "width: 300px; height: 100px;" })
                        @Html.ValidationMessageFor(model => model.Notes)
                    </div>                            

                    <p>
                        <button type="submit" class="button positive">Add</button>                        
                    </p>
                </fieldset>
            }

	    </div>	    			 
    </div>
</body>
</html>
