﻿@model BookmarkerDataModel.Favorite

@{
    ViewBag.Title = "CreateSecondPage";
}

<h2 id="pagename">CreateSecondPage</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("CreateEnd", "Favorite", FormMethod.Get) ) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>New Bookmark</legend>

        @Html.HiddenFor(model => model.BookmarkId)

        <div class="display-label">
            @Html.LabelFor(model=>model.Bookmark.Url)<br />
            <a href="@Html.DisplayFor(model=>model.Bookmark.Url)">@ViewBag.BookmarkUrl</a>        
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Name)<br />
            @Html.TextBoxFor(model => model.Name, new { style = "width: 100%;", value = Model.Name })            
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Notes)<br />
            @Html.TextAreaFor(model => model.Notes, new { style = "width: 100%; height: 100px;" })
            @Html.ValidationMessageFor(model => model.Notes)
        </div>                

        <p>
            <button type="submit" class="button positive">Add</button>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

