﻿@model BookmarkerDataModel.Bookmark

@{
    ViewBag.Title = "CreateFirstPage";
}

<h2 id="pagename">Add</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("CreateSecondPage", "Favorite", FormMethod.Get) ) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>New Bookmark</legend>        

        <div class="display-label">
            @Html.LabelFor(model => model.Url)<br />    
            @Html.TextBoxFor(model => model.Url, new { style = "width: 100%;" })                 
            @Html.ValidationMessageFor(model => model.Url)
        </div>
        
        <p>
            <button type="submit" class="button positive">Next</button>
        </p>
    </fieldset>
}



