﻿@model BookmarkerDataModel.Favorite

@{
    ViewBag.Title = "Details";
}

<h2 id="pagename">Details</h2>

<fieldset>
    <legend>Bookmark</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.CreatedOn)<br />    
        @Html.DisplayFor(model => model.CreatedOn)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Name)<br />    
        @Html.DisplayFor(model => model.Name)
    </div>
    
    <div class="display-label">
        @Html.LabelFor(model=>model.Bookmark.Url)<br />
        <a href="@Html.DisplayFor(model=>model.Bookmark.Url)">@Html.DisplayFor(model => model.Bookmark.Url)</a>        
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Notes)<br />
        @Html.DisplayFor(model => model.Notes)
    </div>
      
    <div class="display-label">
        @Html.LabelFor(model => model.Cluster)<br />
        @Html.DisplayFor(model => model.Cluster.Name)
    </div>
</fieldset>
<p>
    <a href="/Favorite/Edit/@Model.Id" class="button">
	    <img src="/images/icons/link_edit.png" alt=""/> Edit
    </a>
    <a href="/Pinned/Add/@Model.Id" class="button">
	    <img src="/images/icons/pin.png" alt=""/> Pin
    </a>
</p>
<form action="/Favorite/Delete/@Model.Id" method="post">
    <p>
    <button type="submit" class="button negative"><img src="/images/icons/link_delete.png" alt=""/>Delete</button>	    
    </p>
</form>

