﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/blueprint/screen.css")" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/blueprint/print.css")" type="text/css" media="print" /> 
	<!--[if lt IE 8]>
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/blueprint/ie.css")" type="text/css" media="screen, projection">
	<![endif]-->		
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/blueprint/plugins/fancy-type/screen.css")" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/blueprint/plugins/link-icons/screen.css")" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/blueprint/plugins/buttons/screen.css")" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/bookmarker.css")" type="text/css" media="screen, projection" />    
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="container">
        <div id="content" style="margin: 10px; padding: 10px;">
            <h2 id="pagename">Added</h2>	
		    <div class="success">Your bookmark has been added.</div>
            <p>You can close this window now.</p>
	    </div>	    			 
    </div>
</body>
</html>
