﻿@model IEnumerable<BookmarkerDataModel.Favorite>

@{
    ViewBag.Title = "Bookmarks";
}

<h2 id="pagename">@ViewBag.PageName</h2>

<div class="top">
    <a href="/Favorite/CreateFirstPage" class="button positive">
	    <img src="/images/icons/link_add.png" alt=""/> Add New Bookmark
	</a>
</div>	
<hr class="space" />

<table>
    <thead>
        <tr>
            <th>Bookmark</th>
            <th>Added On</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td><a href="@Html.DisplayFor(model => item.Bookmark.Url)">@Html.DisplayFor(model => item.Name)</a></td>
            <td>@Html.DisplayFor(model => item.CreatedOn)</td>
            <td><a style="text-decoration: none;" href="/Favorite/Details/@item.Id">details</a></td>
        </tr>
    }
    </tbody>
</table>
