﻿@{
    ViewBag.Title = "Tools";
    string bookmarklet = "javascript:(function(){ url = 'http://bookmarker.cloudapp.net/Favorite/CreateSecondPage?Url='+encodeURIComponent(window.location.href)+'&Title='+encodeURIComponent(document.title); features = 'location=1,links=0,scrollbars=0,toolbar=0,width=550,height=620'; window.open(url+'&popup=true', 'somename', features) })()";
}

<h2 id="pagename">Tools</h2>
<h3>Bookmark Button</h3>
<div>
    <p>Drag the button below onto your browser's Bookmarks or Favorites bar to add web pages to Bookmarker right from your browser. If dragging does not work, right click on the button and select "Add To Favorites".</p>
	<div><a href="@bookmarklet" title="+Bookmarker" class="button">+ Bookmarker</a></div>
	<hr class="space" />
</div>
<hr />
<h3>Import Bookmarks From Delicious</h3>
<div>
    <ol>
       <li>Log into your <a href="http://www.delicious.com">delicious</a> account.</li>
       <li>Position your mouse over the "Profile" link at the top of your page. This will pop up a menu below.</li>
       <li>Click on "Settings" from this menu.</li>
       <li>Click on "export/back up links" on the right pane of the "Settings" page.</li>
       <li>On the next page click the "Export" button. You will be prompted to save a file, save it to a well known location.</li>
       <li>Go to @Html.ActionLink("Import to bookmarker", "Import", "Favorite") and upload the file you just saved.</li>
    </ol>
</div>
<hr />
<h3>Import Bookmarks from IE</h3>
<div>
    <ol>
        <li>Click the star button on the top right corner.</li>
        <li>Click on the down arrow on the "Add to favorites" button.</li>
        <li>Click on "Import and export..."</li>
        <li>Select the "Export to a file" option and click "Next >"</li>
        <li>Check only "Favorites" and click "Next >"</li>
        <li>On the next page top level "Favorites" should be selected by default, click "Next >"</li>
        <li>Type in a file path.</li>
        <li>Click the "Export" button.</li>
        <li>Click the "Finish" button.</li>
        <li>Go to @Html.ActionLink("Import to bookmarker", "Import", "Favorite") and upload the file you just saved.</li>        
    </ol>
</div>
<hr />
<h3>Import Bookmarks from Chrome</h3>
<div>
    <ol>
        <li>Click the wrench button on the top right corner.</li>
        <li>Select "Bookmarks" and then "Bookmarks Manager" from the menus.</li>
        <li>Click the down arrow beside "Organize".</li>
        <li>Click on "Export bookmarks to HTML file".</li>
        <li>Choose the filename and click "Save".</li>
        <li>Go to @Html.ActionLink("Import to bookmarker", "Import", "Favorite") and upload the file you just saved.</li>
    </ol>
</div>
<hr />
<div></div>