﻿<!DOCTYPE html>
<html>
<head>    
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/blueprint/screen.css")" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/blueprint/print.css")" type="text/css" media="print" /> 
	<!--[if lt IE 8]>
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/blueprint/ie.css")" type="text/css" media="screen, projection">
	<![endif]-->		
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/blueprint/plugins/fancy-type/screen.css")" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/blueprint/plugins/link-icons/screen.css")" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/blueprint/plugins/buttons/screen.css")" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="@Url.Content("~/stylesheets/bookmarker.css")" type="text/css" media="screen, projection" />    
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <div id="header" class="span-14">
        <h1 id="book_haven">
            <img src="@Url.Content("~/images/small_logo.png")" alt="Book header image" id="header-image" /></h1>
        </div>
		<div class="span-9 last menucontainer">
            <span id="sidemenu">
                @Html.Partial("_LogOnPartial")
			</span>			
        </div>
		
        <div class="span-12 menucontainer">
			<ul id="menu">
				<li class="@ViewBag.HomeSelected">@Html.ActionLink("Home", "Index", "Home")</li>
				<li class="@ViewBag.BookmarksSelected">@Html.ActionLink("Bookmarks", "Index", "Favorite")</li>
                <li class="@ViewBag.ToolsSelected">@Html.ActionLink("Import Bookmarks", "Tools", "Home")</li>				
			</ul>
		</div>
		<div class="11 last" style="float: right;">
			<form action="/Favorite/Search" method="get">
				<input type="text" class="text" id="keywords" name="keywords" value="@ViewBag.SearchParams" />
				<button type="submit" class="button">Search Bookmarks</button>
			</form>					
        </div>	
		<hr/>
		<div class="span-14 colborder" id="content">	
			@RenderBody()
		</div>
		<div class="span-9 last" id="sidebar">
			<div id="pinned items">
				<div><h3 class="caps">Pinned</h3></div>
				<div class="box">					
					<table>
                    @{
                        var pinnedItems = ViewData["Pinned"] as List<BookmarkerDataModel.Favorite>;    
                    }
                    @if (pinnedItems.Count > 0) {                        
                        foreach (var pinnedItem in pinnedItems) {
                            <tr><td><a href="@pinnedItem.Bookmark.Url" class="quiet">@pinnedItem.Name</a></td></tr>
                        }
                    }
                    else {
                        <tr><td>You do not have any pinned items.</td></tr>
                    }                    
                    </table>                    
				</div>
                @Html.ActionLink("Unpin Bookmarks", "Edit", "Pinned")               
			</div>
		</div>
		<hr />
		
		<div class="span-24">
			<ul id="footer">
                <li>@Html.ActionLink("About Me", "About", "Home")</li>
                <li>@Html.ActionLink("Contact Me", "Contact", "Home")</li>
                <li>@Html.ActionLink("Tools", "Tools", "Home")</li>				
			</ul>
		</div>
	</div>
</body>
</html>
