﻿@model BookmarkerDataModel.Cluster

@{
    ViewBag.Title = "Details";
}

<h2 id="pagename">@Html.DisplayFor(model => model.Name) Group</h2>

<div><p><b>CreatedOn: </b>@Html.DisplayFor(model => model.CreatedOn) </p></div>

@foreach (var item in Model.Favorites) {
    <div>
        <a href="@Html.DisplayFor(model => item.Bookmark.Url)">@Html.DisplayFor(model => item.Name)</a>
        <blockquote class="top">
            @Html.DisplayFor(model => item.Notes)
			<a style="text-decoration: none;" href="/Favorite/Details/@item.Id">...details</a>
        </blockquote>				
    </div>    
}

<p>
    <a href="/Cluster/Edit/@Model.Id" class="button">
	    <img src="/images/icons/link_edit.png" alt=""/> Edit
    </a>

    <a href="/Cluster/Delete/@Model.Id" class="button negative">
	    <img src="/images/icons/link_delete.png" alt=""/> Delete
    </a>
</p>
